* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: .6s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1470px!important;
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    z-index: 9;
}
ul.nav,
.navbar-default,
.navbar-header .navbar-brand,
#bs-example-navbar-collapse-1 {
    height: 110px;
}
.navbar-default {
    background: transparent;
    border-color: transparent;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header {
    width: 25%;
}
.navbar-header .navbar-brand {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
#bs-example-navbar-collapse-1 {
    width: 65%;
    float: right;
    padding: 0;
}
.navbar-header img {
    max-width: 100%;
    margin-left: 15px;
}
ul.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.nav:before,
ul.nav:after {
    display: none;
}
ul.nav>li>a {
    font-size: 16px;
    color: #fff!important;
    text-transform: uppercase;
    padding: 10px 0;
}
ul.nav>li>a:hover {
    color: #044f9d!important;
}

.vitrine .item {
    display: flex;
    justify-content: center;
}
.vitrine .box {
    text-align: center;
    position: absolute;
    z-index: 9;
    bottom: 50px;
}
.vitrine .box h1 {
    font-size: 44px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px;
}
.vitrine .box p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    #bs-example-navbar-collapse-1 {
        float: none;
        background: transparent;
        z-index: 300;
        position: relative;
        min-height: 300px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: -30px;
    }
    .navbar-default .navbar-toggle {
        padding: 15px 15px;
        margin-top: 22px;
        border-color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #e7b042;
    }
    ul.nav,
    .navbar-default,
    .navbar-header .navbar-brand,
    .navbar-header {
        height: 90px;
    }
    #menu ul.nav.navbar-nav {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    #menu ul.nav.navbar-nav>li {
        margin-bottom: 20px;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header img {
        max-width: 40px;
    }
    #bs-example-navbar-collapse-1 {
        width: 90%;
    }
    ul.nav>li>a {
        font-size: 13px;
    }
    .mural .item1 {
        height: 200px;
    }
    .mural .item2 {
        width: 63.33%;
        height: 200px;
        margin-top: -215px;
    }
    .mural .item3 {
        height: 430px;
    }
    .mural h3 {
        font-size: 18px;
        margin: 0 0 5px;
    }
    .mural p {
        font-size: 12px;
    }
    .mural a.btn-leiamais {
        font-size: 12px;
        padding: 5px 30px;
        margin: 5px 0 0;
    }
    .mural .item3 {
        padding: 15px;
    }
    .mural h2 {
        font-size: 28px;
    }
    .obras h1 {
        font-size: 30px;
    }
    .obras ul {
        height: 99px;
    }
    .obras li:before {
        width: calc(50% - 10px);
    }
    .obras li>a {
        font-size: 16px;
        width: 50px;
        height: 50px;
    }
    .plano-governo h1 {
        font-size: 67px;
    }
    .plano-governo ul>li>a {
        font-size: 16px;
    }
    .plano-governo ul.acoes>li>a .fa {
        font-size: 30px;
    }
    .rodape ul>li>a {
        font-size: 14px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .obras h1 {
        font-size: 40px;
    }
    .obras ul {
        height: 132px;
    }
    .obras li>a {
        font-size: 20px;
        width: 70px;
        height: 60px;
    }
    .plano-governo h1 {
        font-size: 88px;
    }
}